<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>子访问父</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <cpn></cpn>
  </div>
  <template id="tmp">
    <div>
      <div>子组件</div>
      <button @click="btnClick">获取父组件</button>
    </div>
  </template>
</body>
<script>
  var app = new Vue({
    el: '#app',
    components: {
      cpn: {
        template: '#tmp',
        methods: {
          btnClick() {
            console.log('parent: ') 
            console.log(this.$parent)
            console.log('root: ')
            console.log(this.$root)
          }
        }
      },
      
    }
  });
</script>

</html>