<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>非Prop的特性</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .nomal-input {
            font-size: 14px;
            color: #000;
        }
        .my-input {
            font-size: 18px;
            line-height: 1.6;
        }
        
    </style>
</head>
<body>
    <div id="app">
        <test-input></test-input>
        <br>
        <test-input data-test="test"></test-input>
        <br>
        <!-- 替换合并已有的特性 -->
        <test-input type="number" class="my-input"></test-input>
        <br>
        <base-input label="继承案例： " value="" required placeholder="please input your name"></base-input>
    </div>
</body>
<script>
/*
** 非prop特性指该组件并未定义该prop
** 有时候应用者想要的东西和已经开发出来的组件不太一样，应用者会传入非prop属性
*/

Vue.component('test-input', {
    template: `
        <input type="text" placeholder="input text" class="nomal-input"></input>
    `
});
// 给test-input添加data-test会添加到该组件的根元素上

/*
** 替换合并已有的特性
** 对于绝大多数特性来说，从外部提供给组件的值会替换掉组件内部设置好的值。所以如果传入 type="number" 就会替换掉 type="tezt" 并把它破坏！
** 庆幸的是，class 和 style 特性会稍微智能一些，即两边的值会被合并起来，从而得到最终的值：nomal-input my-input。
*/

// #禁用特性继承
/*
** 如果你不希望组件的根元素继承特性，你可以在组件的选项中设置inheritAttrs: false. 例如：
*/
Vue.component('test-inherit-attrs', {
    inheritAttrs: false
});
/*
** 这尤其适合配合实例的`$attrs`属性使用，该属性包含了传递给一个组件的特性名和特性值，例如：
** {
**    require: true,
**    placeholder: 'Enter your username'
** }
*/

/*
** 有了inheritAttrs: false 和 $attrs, 你可以手动决定这些特性会被赋予哪个元素，在撰写基础组件时会经常用到
*/
Vue.component('base-input', {
  inheritAttrs: false,
  props: ['label', 'value'],
  template: `
    <label>
      {{ label }}
      <input
        v-bind="$attrs"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
      >
    </label>
  `
})
// 这个模式允许你在使用基础组件的时候更像是使用原始的 HTML 元素，而不会担心哪个元素是真正的根元素：
// 注意 inheritAttrs: false 选项不会影响 style 和 class 的绑定。

var app = new Vue({
    el: '#app'
});
</script>
</html>